.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.send{
  width: 20% !important;
  margin: 1% !important;
}

.input-field, .textarea-field{
  margin-bottom: 0px !important;
  padding: 0px !important;
}

.d-flex{
  display: flex;
}

.init{
  margin-bottom: 3% !important;
  height: 40px !important;
}

.noP{
  margin:0px !important;
  padding:0px !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 16px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  background-color: #282c34;
  color: white;
  align-items: center;
  margin-bottom: 16px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-bottom: 16px;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  border-color: #60a5fa;
  box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.5);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn:hover {
  background-color: #2563eb;
}

.message-list {
  margin-top: 32px;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
  

.message-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.message-bubble {
  background-color: #e5e7eb;
  padding: 8px;
  border-radius: 12px;
  max-width: 70%;
  height: 25px;
}

.message-user {
  font-weight: bold;
}

.message-item.self .message-bubble {
  background-color: #3b82f6;
  color: #ffffff;
  align-self: flex-end;
}

.message-item  {
flex-direction: row-reverse !important;
}
.message-item.other  {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row !important;
}

.empty-chat {
  color: #9ca3af;
}
